#headerContainer{
    /* height: 100vh; */
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

#headerTitle{
    padding-top: 1%;
}

.contactFormContainer{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactForm{
    width: 80%;
    color: #ffff;
}

.contactFormTitle{
    display: flex;
    justify-content: center;
    align-items: start;
}

.contactFormName{
    display: flex;
}

.contactName{
    padding: 0.3rem;
    width: 50%;
}

.contactEmail{
    padding: 0.3rem;
    width: 50%;
}

.contactFormBody{
    padding: 0.3rem;
}

.contactFormButton{
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
}


input, textarea, .contactButton{
    width: 100%;
    height: 3rem;
    border-radius: 0.4rem;
    background-color: #273248;
    border: none;
    resize: none;
}

textarea{
    height: 13rem;
}

.contactButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #465981;
}

::placeholder{
   text-align: center;
   line-height: 10rem;
   color: #a5b1ca;
}