*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-color: #19202e;
}

.navbar{
  display: flex;
  height: 4rem;
  align-items: center;
}

.left-navbar{
  position: absolute;
  margin-right: auto;
  margin-left: 2.6rem;
  color: #a5b3ce  ;
}

.center-navbar {
  display: flex;
  justify-content: center;  
  width: 100%;
  /* margin-left: 18rem; */
}

.logos {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 1rem;
  background-color: #161d29;
  border-radius: 3rem;
  color: #a5b3ce;
}

.test{
  height: 50px;
  width: 50px;
}

.fa-bars:hover{
  cursor: pointer;
}

.sidebar-container{
  display: flex;
  height: 90vh;
  width: max-content;
  margin-left: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    position: fixed; 
    /* top: 3.6rem;  */
    left: 0; 
    /* bottom: 0; */
  /* animation-name: test;
  animation-duration: 3s; */
}

.cross{
  left: -7rem;
}

@keyframes R_to_L{
  from{
    left:0;
  }
  to{
    left:-7rem;
  }
}

@keyframes L_to_R{
  from{
    left:-7rem;
  }
  to{
    left:0rem;
  }
}

#cross-bar:hover{
  color: #fe655c;
}


.sidebar-content{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar{
  height: max-content;
  background-color: #161d29;
  color: #a5b3ce;
}

.sidebar-heading{
  padding-top: 0.4rem;
  font-size: small;
}

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
}

.content-container{
  width: 100%;
  height: 100%;
}

.header-container{
  margin: 0 auto;
  margin-top: 5rem;
  background-color: #1e2738;
  width: 68%;
}

.header-heading{
  color: #ffffff;
}

.header-title h1{
  width: max-content;
  margin: 0 auto;
  padding-top: 4rem;
}

.header-paragraph{
  height: 55%;
  width: 100%;
}

.paragraph{
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  color: #a5b3ce;
  font-family: "Inter", sans-serif;
}

.paragraph-button-container{
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  width: 10rem;
  font-weight: bold;
  font-size: larger;
  color: white;
  padding: 0.6rem;
  border-radius: 1rem;
  background-color: #465981;
}

.button-text{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.featured-projects{
  margin-top: 1rem;
}

.skills-container{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.p-project-title h1{
  color: white;
  width: max-content;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.s-header-paragraph{
  width: 60%;
  padding-top: 1.4rem;
  color: #a5b3ce;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  text-align: center;
}

.s-body-logos{
  width: 40%;
  padding-top: 3%;
  margin: 0 auto;
}

.s-logos{
  width: 3rem;
  aspect-ratio: 2/2;
}

.s-logos-first, .s-logos-second{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-logos-container{
  width: 20%;
  display: flex;
  justify-content: center;
}

.p-container{
  padding-top: 1rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.p-card{
  padding: 0.4rem;
  width: calc(100% / 3);
}

.p-image-container{
  height: 9rem;
  width: 100%;
}

.p-title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.4rem;
}

#fitsports{
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
}

.p-disc{
  width: 100%;
  text-align: center;
  color: #a5b3ce;
  display: flex;
  align-items: center;
}

.p-image{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.p-name{
  text-align: center;
  color: #d7dde9;
  font-size: large;
}


@media screen and (max-width: 884px){
  .s-body-logos{
    width: 50%;
  }
}

@media screen and (max-width: 827px){
  .p-container{
    flex-direction: column;
    align-items: center;
  }
  .p-card{
    width: 80%;
  }
  .p-image-container{
    height: 12rem;
  }
}

@media screen and (max-width: 729px){
  .s-body-logos{
    width: 70%;
  }
}

@media screen and (max-width: 630px){
  .sidebar-container{
    flex-direction: row;
    width: 100%;
    left: 0;
    height: max-content;
    bottom: 0;
    /* bottom: -4.5rem; */
    margin: 0 0;
  }

  .sidebar{
    display: flex;
    /* width: 80%; */
  }

  .content-container{
    margin-bottom: 5rem;
  }

  @keyframes R_to_L{
    from{
      bottom: 0;
    }
    to{
      bottom: -4.5rem;
    }
  }
  
  @keyframes L_to_R{
    from{
      bottom: -4.5rem;
    }
    to{
      bottom: 0;
    }
  }

  .cross{
    top:40rem;
  }
}

@media screen and (max-width: 530px){
  .s-body-logos{
    width: 80%;
  }
  .s-logos{
    width: 2.5rem;
  }
}

@media screen and (max-width: 497px){
  .p-container{
    width: 100%;
  }
  .header-container{
    width: 80%;
  }
}

@media screen and (max-width: 421px){
  .logos{
    padding: 0.7rem;
  }
}

@media screen and (max-width: 384px){
  .left-navbar{
    left: -1rem;
  }
  .s-logos{
    width: 2rem;
  }
  .header-container{
    width: 90%;
  }
  .logos{
    padding: 0.7rem;
  }
}

@media screen and (max-width: 339px){
  .left-navbar{
    margin-left: 2rem;
  }
  /* .sidebar-content{
    padding: 0.8em;
  }
  .sidebar-container{
    top:36rem;
  } */
}